.notes-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2rem;
    width: min(100%, 100rem);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white);
    z-index: 99;
}

.header-breadcrumb-wrapper {
    overflow: hidden;
    max-width: 40rem;
    position: relative;
    padding: 1rem 0;
}

.header-breadcrumb {
    display: flex;
    font-size: 1.6rem;
    white-space: nowrap;
}

.header-breadcrumb li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.header-breadcrumb :is(.logo) {
    width: 3rem;
    height: 3rem;
}

.header-breadcrumb :is(a):not(.logo a) {
    font-weight: 400;
    text-decoration: underline;
    white-space: nowrap;
}

.menu-btn-wrapper button {
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    font-size: 2.5rem;
    background: transparent;
}

.menu-btn-wrapper button:hover {
    background: var(--smooth-light);
}

.header-nav-wrapper {
    display: flex;
    position: absolute;
    top: calc(7rem - 2px);
    left: -100%;
    padding: 4rem 0;
    height: calc(100vh - 7rem);
    background: var(--white);
    border-radius: 0 10px 10px 0;
    box-shadow: 0 10px 30px 0 var(--smooth-dark);
    max-width: 0px;
}

.header-nav-wrapper.show-menu {
    left: 0;
    max-width: 10000px;
}

.header-nav {
    overflow-y: auto;
    max-height: calc(90vh);
    padding: 0 2rem;
}

.header-nav :is(ul li) {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.header-nav :is(li, a) {
    flex: 1;
    width: 100%;
    border-radius: 5px;
}

.header-nav :is(a) {
    padding: 0.1rem 1rem;
}

.header-nav :is(a):hover {
    background: var(--pink-light);
    cursor: pointer;
}

.header-nav :is(li ul) {
    margin: 0 0 0 2rem;
}

.header-nav :is(li ul ul) {
    border-left: 2px solid var(--smooth-dark);
}

.header-nav :is(li ul li) {
    padding: .5rem 0;
}

.header-nav .submenu {
    overflow: hidden;
    transition: all 0.5s;
    max-height: 0;
    height: auto;
    overflow-y: auto;
    background: var(--white);
}

.header-nav :is(.expand-nav svg) {
    width: 1.6rem;
    height: 2.5rem;
    fill: var(--text-black);
    position: relative;
    top: 0.5rem;
}

.header-nav :is(.submenu.show-submenu) {
    max-height: 100vh;
    transition: all 0.5s;
}


/* ///////////////////// MEDIA QUERIES ///////////////////// */

@media (min-width: 769px) {
    .menu-btn-wrapper button {
        display: none;
    }
    .header-nav-wrapper {
        position: static;
        padding: 0;
        width: auto;
        height: auto;
        background: var(--white);
        border-radius: 0;
        box-shadow: none;
        margin-left: auto;
        max-width: 100%;
    }
    .header-nav {
        display: flex;
        align-items: center;
        gap: 1rem;
        overflow-y: visible;
        padding: 0;
    }
    .header-nav :is(li, a) {
        flex: none;
        width: auto;
        border-radius: 5px;
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0 .5rem;
        height: 100%;
    }
    .header-nav :is(li ul):not(li ul ul) {
        top: 100%;
        right: 0;
        position: absolute;
        box-shadow: 0 3px 5px 0 var(--smooth-dark);
        border-radius: 10px;
        width: max-content;
        max-height: 60vh;
        overflow-y: auto;
    }
    .header-nav :is(li ul li a) {
        padding: 0 3rem 0 1rem;
    }
    .header-nav .submenu {
        padding: 0 1rem;
    }
    .header-nav .submenu.show-submenu {
        padding: 2rem 1rem;
        max-height: 80vh;
    }
}