.notes-main {
    padding: 1rem 2rem;
    width: min(100%, 100rem);
    margin: 6rem auto;
}


/* ////////////// INTRODUCTION SECTION */

.course-intro-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.course-intro-wrapper .course-intro-contents {
    max-width: 60rem;
    flex: 1 1 40%;
    min-width: 24rem;
}

.course-intro-wrapper .course-intro-hero {
    flex: 1 1 45%;
}

.course-intro-wrapper .course-intro-contents>* {
    margin: 1rem 0;
}

.course-intro-wrapper :is(h1) {
    font: 500 4rem/130% "Poppins", sans-serif;
    color: var(--blue);
}

.course-intro-wrapper :is(.eyebrow) {
    margin-top: 3rem;
}

.course-intro-wrapper :is(.eyebrow, p) {
    font-size: 1.6rem;
}


/* ///////////////////// TABLE OF CONTENTS/INDEX */

.index-wrapper {
    margin: 3rem 0;
    width: 100%;
    border: 1px solid var(--purple);
    border-left: none;
    border-right: none;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
}

.index-wrapper .index-title {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    cursor: pointer;
    width: min(100%, 35rem);
    order: -1;
}

.index-title h2 {
    font: 500 3rem/130% "Lora", serif;
}

.index-wrapper .index-title svg {
    width: 3rem;
    height: 3rem;
    fill: var(--text-black);
}

.index-list-box {
    margin: 1rem;
    font-size: 1.6rem;
    transition: all .5s ease;
    overflow: hidden;
    max-height: 0;
}

.index-list-box ul,
.header-nav .submenu .submenu-subtopics {
    padding-left: 1rem;
    margin-bottom: 2rem;
    border-left: 2px solid var(--smooth-dark);
}

.index-list-box ul li {
    margin: 1rem 0;
}

.index-list-box.show-index {
    max-height: 100rem;
    transition: all 1s ease;
}

.index-list-box.show-index~.index-title svg {
    transform: rotate(180deg);
}

.index-list-box li {
    margin: 2rem 0;
}

.index-list-box li a {
    border-radius: 5px;
}

.index-list-box li a:hover {
    background: var(--pink-light);
}


/* ////////////////////////// NEXT AND PREV PROSE LINKS */

.adj-prose-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.adj-prose-link {
    padding: 2rem;
    flex: 1;
    min-width: 20rem;
}

.adj-prose-link:hover {
    background: var(--purple-light);
}

.adj-prose-wrapper .direction {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 1rem 0;
}

.adj-prose-wrapper .direction :is(span, i) {
    font-size: 1.4rem;
    color: var(--purple);
    font-weight: 500;
}

.adj-prose-wrapper .adj-prose-topic {
    font: 600 3rem "Lora", serif;
    hyphens: auto;
}

.adj-prose-wrapper .prose-description {
    padding: 1rem 0;
    font-size: 1.4rem;
}


/* *********** MEDIA QUERIES **************** */

@media (min-width: 375px) {
    .course-intro-wrapper .course-intro-contents,
    .adj-prose-link {
        min-width: 35rem;
    }
}