* {
    font-family: "Poppins", "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    outline: none;
    border: none;
    color: var(--text-black);
    /* border: 1px solid #07f; */
}

*::selection {
    background: var(--text-black);
    color: var(--white);
}

:root {
    --white: #ffffff;
    --pink: #fd5daf;
    --pink-light: #fd5db040;
    --purple: #4e65ff;
    --purple-light: #4e65ff25;
    --blue: #34c1fd;
    --blue-light: #deeafd;
    --text-black: #1f1f26;
    --text-white: #e8eaed;
    --smooth-dark: #1F1F2660;
    --smooth-light: #1F1F2625;
    --code-box: #e8eaed25;
}

html {
    font-size: 63.5%;
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

body {
    overflow-x: hidden;
    background: var(--white);
    min-height: 100vh;
    min-width: 300px;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}


/* *********** MEDIA QUERIES **************** */

@media (min-width: 769px) {
    html {
        font-size: 75.5%;
    }
}