.topic-prose-wrapper {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prose-heading-1 {
    font: 600 3.5rem/130% "Lora", serif;
    padding-top: 4rem;
}

.prose-heading-1:not(:first-child) {
    border-top: 2px solid var(--text-black);
    padding-top: 3rem;
}

.prose-heading-2,
.key-header {
    font: 600 2.5rem/130% "Lora", serif;
    margin: .5rem 0;
}

.prose-heading-2:not(.key-header .prose-heading-2) {
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid var(--smooth-dark);
}

.prose-heading-3 {
    font: 600 2rem/130% "Lora", sans-serif;
    margin: .5rem 0;
}

.prose-para {
    max-width: 70ch;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1.2em;
}

li.prose-para {
    margin-bottom: .3em;
}

.prose-para :is(.highlight) {
    font-weight: 600;
}

.prose-para :is(a, kbd, code) {
    padding: 0 .5rem;
    border-radius: 3px;
    line-height: 160%;
}

.prose-para a,
.prose-figure figcaption a {
    background: var(--pink-light);
}

.prose-para a:hover {
    text-decoration: underline;
}

.prose-figure {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
}

.prose-figure figcaption {
    min-width: 20ch;
    max-width: 35ch;
    padding: 1rem;
}

.prose-para kbd {
    font: 600 16px/130% "Roboto Mono";
    border: 1px solid var(--text-black);
}

.prose-para code {
    font: 600 16px/130% "Roboto Mono";
    background: var(--purple-light);
}

.subtopic-2>*:not(.prose-heading-3) {
    margin-left: 2rem;
}

.prose-list li {
    list-style: decimal;
    list-style-position: outside;
    margin-left: 2rem;
}

ul.prose-list li {
    list-style: square;
}

.prose-list li::marker {
    color: var(--purple);
    font-weight: 600;
}

.prose-list li :is(ul, ol) {
    margin: 1rem 0 1rem 2rem;
}

.prose-list li :is(ul, ol) li {
    list-style: disc;
}

.sources * {
    font: italic 1.4rem/130% "Lora", serif;
}


/* //////////////////// KEY BOXES */

.key {
    border: 1.5px solid;
    margin: 2rem 0;
    border-radius: 20px;
    padding: 2rem 1.5rem;
}

.key-header {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2rem;
    margin-bottom: .5rem;
}

.key-content {
    margin-left: 4.5rem;
}

.key.callout {
    border-color: var(--pink);
}

.key.tip,
.key.simplification {
    border-color: var(--purple);
}

.key.definition {
    border-color: var(--blue);
}

.key.additonal-point,
.key.mathematical-formula {
    border-color: var(--text-black);
}

.key.mathematical-formula .key-content * {
    font: italic 400 2.5rem/130% "Lora", serif;
}

.key.code {
    background: var(--code-box);
    border-color: var(--smooth-dark);
    border-radius: 2px;
}

.key.code {
    font: 500 16px/130% "Roboto Mono";
}


/* *********** MEDIA QUERIES **************** */

@media (min-width: 375px) {}