.notes-main {
    padding: 0 2rem;
    width: min(100%, 100rem);
    margin: 6rem auto;
}


/* ////////////// INTRODUCTION SECTION */

.course-intro-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.course-intro-wrapper .course-intro-contents {
    max-width: 60rem;
    flex: 1 1 40%;
    min-width: 24rem;
}

.course-intro-wrapper .course-intro-hero {
    flex: 1 1 45%;
}

.course-intro-wrapper .course-intro-contents>*,
.course-intro-para {
    margin: 1rem 0;
}

.course-intro-wrapper :is(h1) {
    font: 500 4rem/130% "Poppins", sans-serif;
    color: var(--blue);
}

.course-intro-wrapper :is(.eyebrow) {
    margin-top: 3rem;
}

.course-intro-wrapper :is(.eyebrow, p),
.course-intro-para {
    font-size: 1.6rem;
}


/* INDEX.HTML UNIT LISTS */

.unit-list-box {
    font-size: 1.6rem;
}

.unit-wrapper {
    width: 100%;
    border-bottom: 1px solid var(--purple);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 3rem;
    padding: 2rem 0;
}

.unit-wrapper .unit-title {
    order: -1;
}

.unit-title h2 {
    font: 500 3rem/130% "Lora", serif;
}

.unit-list-box {
    padding: 1rem;
    font-size: 1.6rem;
}

.unit-list-box ul li {
    padding-bottom: .5rem;
}

.unit-list-box li {
    margin: 1rem 0;
}

.unit-list-box li a {
    border-radius: 5px;
}

.unit-list-box li a:hover {
    background: var(--pink-light);
}


/* ////////////////////////// NEXT AND PREV PROSE LINKS */

.adj-prose-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7rem;
}

.adj-prose-link {
    padding: 2rem;
    flex: 1;
    min-width: 20rem;
    border: 1px solid var(--purple-light);
}

.adj-prose-link:hover {
    background: var(--purple-light);
}

.adj-prose-wrapper .direction {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 1rem 0;
}

.adj-prose-wrapper .direction :is(span, i) {
    font-size: 1.4rem;
    color: var(--purple);
    font-weight: 500;
}

.adj-prose-wrapper .adj-prose-topic {
    font: 600 3rem "Lora", serif;
    hyphens: auto;
}

.adj-prose-wrapper .prose-description {
    padding: 1rem 0;
    font-size: 1.4rem;
}


/* *********** MEDIA QUERIES **************** */

@media (min-width: 375px) {
    .course-intro-wrapper .course-intro-contents,
    .adj-prose-link {
        min-width: 35rem;
    }
}